main {
  text-align: center;
  max-width: 1366px;

  margin: auto;

  display: grid;
  grid-template-columns: 320px;
  justify-content: center;
  gap: 35px;

  padding: 0 24px;
}

main #user img {
  width: 10em;
}

main h1 {
  font-size: 1.5em;
}

main p {
  font-size: 1em;
  padding: 5px;
}

main li {
  list-style: none;
}

main h2 {
  font-size: 1.3em;
  padding: 10px 0px;
}

main li.estudo {
  padding-bottom: 10px;
}

main article p {
  text-align: left;
  font-size: 1.25em;
  width: 100%;
}

main .projetos {
  padding: 32px 40px;
  /* grid-template-columns: 1 / 3; */
}

main #projeto_conteudo {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr; */
  /* gap: 32px; */

  margin-top: 16px;
}

main a.projeto {
  display: flex;
  flex-direction: column;
  align-items: center;

  row-gap: 0.8em;
  width: 100%;

  background-color: var(--preto);
  border-radius: 6px;
  padding-bottom: 12px;
  border: 1px solid var(--cinza);
}

main a.projeto picture {
  height: 100%;
}

main a.projeto picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main a.projeto strong {
  font-size: 1.15em;
  font-weight: bold;
  color: var(--branco);
  text-align: center;
}

main .projetos div {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  font-size: 0.9em;

  padding: 0 8px;
}
